{% extends "base.html" %}
{% block title %}category{% endblock %}
{% block content %} 
<!------------------cartegory--------------->


<!-- content -->
<section class="wrapper">
    <div class="products">
        <ul>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                        src="/media/canon4000D copy.png"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Canon EOS 4000D</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">12.000.000 vnd</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                        src="/media/DSLR_Canon750D copy.png"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3" > <a href="">Canon 750D</a></h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">10.000.000 vnd</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                        src="/media/DSLR_NikonD3500 copy.png"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Nikon D3500</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">15.990.000 vnd</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product no-margin">
                <div class="img-product">
                    <img class="img-prd"
                        src="/media/DSLR_NikonD3500.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Nikon</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">89000000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                        src="/media/DSLR_NikonD3500.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Nikon
                    </h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">219900000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                        src="/media/DSLR_NikonD3500.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Canon</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">11500000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                        src="/media/DSLR_NikonD3500.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Nikon</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">1295000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
            <li class="main-product no-margin">
                <div class="img-product">
                    <img class="img-prd"
                        src="/media/DSLR_NikonD3500.jpg"
                        alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Nikon</h3>
                    <div class="content-product-deltals">
                        <div class="price">
                            <span class="money">850000đ</span>
                        </div>
                        <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
</body>
{% endblock %}