{% extends "base.html" %}
{% block title %} contact {% endblock %}

{% block content %}
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> LIÊN HỆ VỚI CHÚNG TÔI </h2>
          <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="" id="icon" alt="" />
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Họ và tên">
            <input type="text" id="ogin" class="fadeIn second" name="login" placeholder="Email">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Chủ đề">
            <textarea id="message" name="message" required>Nội Dung: </textarea>
            <input type="submit" class="fadeIn fourth" value="Gửi">
          </form>

        </div>
      </div>
</body>
{% endblock %}

{% block footer %}

{% endblock %}