

header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    background: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
}


li {
    list-style:none ;
}

a {
    text-decoration: none;
    color:black;
}

.logo  {
    flex:1;
    top:0px;
    left:50px;
    position: relative;
}

.menu {
  font-family: "Open Sans", sans-serif;
    flex:3;
    display: flex;
    
    
    text-align: center;
    position: relative;
}

.menu > li:hover .sub-menu {
    display: block;
    visibility: visible;
    top: 50px;
}

.sub-menu {
    position: absolute;
    width: 200px;
    border: none;
    padding-top: 9px;
    background-color: none;
    visibility: hidden;
    top:100px;
    transition: 0.3s;
    z-index: 1;
}
.sub-menu >li>a {
    width: 200px;
    border: none solid rgb(158, 146, 146);
    background-color: rgb(235, 237, 239);
}

.menu > li {
    padding: 12px;
    
}
.menu >li a {
    font-size: 15px;
    font-weight:bold ;

    display: block;
    line-height: 35px;

}

.other {
    flex: 1;
    display: flex;
    padding-right: 0px;
}
.other > li {
    padding: 0 12px;
}

.other > li:first-child {
    position: relative;
}
.other > li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}
.other > li:first-child i {
    position:absolute;
    right: 10px;
    top:0px;
}
#slider {
    
    overflow: hidden;
}


.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.5s;
    
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 25px;
    left: 0;
    
  }

  .canon {
    
    color: #000;
    position:absolute;
    top:512px;
  }

  .dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dot {
    height: 15px;
    width: 15px;
    background-color: #898181;
    border-radius: 50%;
    margin-right: 12px;
   margin-top: 10px;

  }

  .dot.active {
    background-color: #222121;
  }

  /*--------------------------------*/

  .app-container {
    text-align:center;
    align-items:center;
    margin-top:50px;
    padding-bottom: 10px;
  }

  .app-google {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .app-container  p {
    color:#000;
    font-weight: bold;
    font-size: 17px;
    padding-top: 20px;
  }

  /*--------------footer-------------*/

  .footer-top {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 20px;
  }

  .footer-top p {
    font-family: "Open Sans", sans-serif;
    margin-top: 12px;
    font-weight: bold;
  }

  .row {
    font-family: "Open Sans", sans-serif;
    padding-top: 0px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
  }

  /*cartegory*/
  li {
    list-style: none;
  }
  
  /* header */
  nav {
    font-family: "Open Sans", sans-serif;
    padding: 15px;
    width: 100%;
    display: flex;
    background: #56baed;
  }
  
  nav .content-nav {
    display: flex;
    line-height: 2rem;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
  }
  
  nav .content-nav ul {
    display: flex;
  }
  
  nav .content-nav ul li a {
    text-decoration: none;
    color: #43433e;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 800;
  }
  
  nav .content-nav ul li a:hover {
    color: #fff;
  }
  
  .content-nav form {
    font-family: "Open Sans", sans-serif;
    position: relative;
  }
  
  .content-nav form input {
    border: none;
    background: #fff;
    padding: 7px;
    outline: none;
    border-radius: 12px;
  }
  
  .content-nav form button {
    padding: 5px;
    font-family: "Open Sans", sans-serif;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 2px;
    border: none;
    outline: none;
    background: #fff;
  }
  
  /* modal */
  .modal {
    font-family: "Open Sans", sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  
  .btn {
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
  }
  
  .btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #56baed;
    border-color: #56baed;
  }
  
  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  h5.modal-title {
    font-size: 1.5rem;
  }
  
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #cart {
    font-size: 15px;
    color: #fff;
    background: #56baed;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
  }
  
  #cart:hover {
    border-color: #fff;
  }

  /* wrapper */
.wrapper {
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
  padding-top:75px;
}

.products ul {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
}

.products ul .main-product {
  margin-bottom: 2rem;
  margin-right: 1rem;
  display: block;
  float: left;
  width: 24%;
}

.products ul .no-margin {
  margin-right: 0;
}

.products ul .img-product img {
  width: 100%;
}

.content-product .content-product-h3 {
  padding: .5rem 0;
  overflow: hidden;
  color: #222;
  font-weight: 500;
  font-size: 16px;
  max-height: 50px;
  min-height: 50px;
  text-align: center;
  line-height: 19px;
  margin: 0 0 5px;
}

.content-product .content-product-deltals {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.main-product .content-product .content-product-deltals .price {
  color: #0baebc;
  font-weight: 700;
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 20px;
}

.content-product .content-product-deltals .price .money {
  vertical-align: middle;
}

.content-product .content-product-deltals .btn-cart {
  background: #56baed;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
}

.content-product .content-product-deltals .btn-cart:hover {
  background: #56baed;
}

/* footer */
.footer-item {
  padding: .5rem 2rem;
  background: #56baed;
  display: flex;

}

.footer-item .img-footer {
  align-items: center;
  display: flex;
}

.footer-item .img-footer img {
  width: 100%;
}

.footer-item .social-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.footer-item .social-footer li a {
  color: #000000;
  font-size: 2rem;
}

.footer-item .social-footer li:last-child {
  margin-left: .5rem;
}


.header {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  padding-top:50px;
}
.body {
  text-align: center;
  padding-top:12px;

}
.body > li {
    height: 25px;
    width: 200px;
    padding-top:0px;
    text-align: center;
    align-items: center;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    padding-left:0px;
}

.foot {
  font-family: "Open Sans", sans-serif;
  padding-top:12px;
  text-align :center;
}

.body > :first-child {
  margin-left:auto;
  margin-right: auto;
}
.boby > p {
    margin-right: 10px;
}


/* -----------------------------chi tiết sản phẩm----------------------*/
.containers {
  text-align: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.images {
  align-items: center;
  text-align: center;
  flex:1;
  padding-top:75px;
  flex :1;
}

.product {
  font-size:20px;
  font-weight: bold;
  padding-top:50px;
}
h2 {
  margin-top:20px;
  border: #000;
  font-weight:bold;
}
.add {
  margin-top:10px;
  width: 200px;
  padding-left:auto;
  padding-right: auto;
  height: 50px;
  text-align: center;
  border: 1px solid black;
  background-color:#56baed;
  font-size:20px;
  border-radius:10px;
  
}
.adds {
  color:white;
}